/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ngx-toastr {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
  }
  .toast-title {
    color: #fff;
    font-weight: bold;
    padding: 5px;
    text-align:center;
  }
  
  .toast-message {
    color: #fff;
    padding: 5px;
    text-align:center;
  }
  .toast-success {
    background-color: #4CAF50; /* Your desired background color */
    color: #FFF; /* Your desired text color */
  }
  .toast-success .toast-title {
    color: #FFF; /* Your desired title color */
    font-weight: bold;
  }
  
  .toast-success .toast-message {
    color: #FFF; /* Your desired message color */
  }
  .toast-success .toast-title {
    color: #FFF; /* Your desired title color */
    font-weight: bold;
  }
  
  .toast-success .toast-message {
    color: #FFF; /* Your desired message color */
  }
  .toast-error {
    background-color: #FF5722; /* Your desired background color */
    color: #FFF; /* Your desired text color */
  }
  .toast-error .toast-title {
    color: #FFF; /* Your desired title color */
    font-weight: bold;
  }
  
  .toast-error .toast-message {
    color: #FFF; /* Your desired message color */
  }
          
    
